<div class="card">
  <p-table [value]="team()"  [rows]="20" responsiveLayout="scroll">
    <ng-template pTemplate="caption" #caption>
      <div class="flex align-items-center justify-content-between">
        <span>Teams</span>
        <p-button>Add Team</p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" #header>
      <tr>
        <th pSortableColumn="name" id="labelName" style="width:30%">Name</th>
        <th pSortableColumn="country" id="labelCountry" style="width:30%">Country</th>
        <th pSortableColumn="league" id="labelLeague" style="width:30%">League</th>
        <th style="width: 10%"> </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team #body>
      <tr>
        <td>{{ team.name }}</td>
        <td>{{ team.country }}</td>
        <td>{{ team.league }}</td>
        <td><p-button>Details</p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
