.custom-table {
  max-width: 70%;   /* Begrenzung der Breite */
  margin: 0 auto;   /* Zentriert die Tabelle */
  display: block;   /* Hilft bei der korrekten Darstellung */
}

.p-datatable {
  text-align: center; /* Zentriert Tabelleninhalt */
}

.p-datatable th, .p-datatable td {
  text-align: center; /* Zentriert Überschriften und Zellen */
}
